@{
    ViewBag.Title = "AD_ShowAllPhieuDatHang";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

@model IEnumerable<KhoaLuanSteam.Models.PHIEUDATHANG>

<h2>Quản lý đơn hàng</h2>
<table class="table" id="example">
    <thead>
        <tr>
            <th>
                MaDDH
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>Xử Lý Đơn Hàng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.MaPhieuDH">
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhieuDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHACHHANG.TenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                <td>
                    <a href="#" class="btn-active" data-id="@item.MaKH">@Html.Raw(item.TinhTrang !=null ? "<strong>Xác Nhận Thành Công</strong>" : "Chưa Xác Nhận")</a>
                </td>
                <td>
                    @Html.DropDownList("Tracking", new List<SelectListItem>
{
                        new SelectListItem() {Text = "Xử Lý", Value="0"},
                        new SelectListItem() {Text = "Đã Đóng Gói", Value="1"},
                        new SelectListItem() {Text = "Đang Giao", Value="2"},
                        new SelectListItem() {Text = "Giao Thành Công", Value="3"}
    })
                </td>
                <td>
                    @Html.ActionLink("Xem", "DetailsCT_PDDH", new { id = item.MaPhieuDH })
                </td>
            </tr>}
    </tbody>

</table>
