@model KhoaLuanSteam.Models.THONGTINSANPHAM
@{
    ViewBag.Title = "DetailsSanPham";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}


<h2>@Model.TenSanPham</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt>
            NCC
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TenNCC)
        </dd>

        <dt>
            Loại sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.TenLoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </dt>
        <dd>
            <p><span>@(Model.GiaSanPham.HasValue ? Model.GiaSanPham.Value.ToString("N0") : "Liên hệ")</span> VND</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd>
            <p><span>@(Model.GiaSanPham.HasValue ? Model.GiamGia.Value.ToString("N0") : "Liên hệ")</span> VND</p>
        </dd>
        <dt>
            Sơ lược
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd>
            <img src="/HinhAnhSach/@Model.HinhAnh" width="180" height="250" />
        </dd>
        <dt>
            Số lượng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SLTon)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Trở về", "AD_ShowAllProduct") |
    @Html.ActionLink("Sửa", "UpdateSanPham", new { id = Model.MaSanPham })
</p>

